body{
    color: rgb(247, 218, 218);
    text-align: center;
}
/* .divCenter{
    background-color: rgb(24, 52, 96);
    font-family: 'Dancing Script', cursive;
    width: 100%;
    padding: 0%;
    margin: 0%;
} */
.headdingD{
    padding-top: 2%;
    text-align: center;
    font-size: 60px;
}
.listItem{
    background-color: rgb(24, 52, 96);
    font-family: 'Dancing Script', cursive;
    width: 100%;
    font-size: 30px;
    text-align: center;
}
.sectiontitle{
    font-size: 40px;
    text-align: center;
}
.inbetweenSpace{
    background-color: rgb(234,184,181);
    padding: 5%;
}
ul {
    list-style-type: none;
}
.titleName{
    text-decoration: underline;
}


@media only screen and (max-width: 500px) {
    .headding{
        font-size:25px,
    }
    .scheduleList{
        font-size: 15px;
    }
    .sectiontitle{
        font-size: 20px;
    }

}